<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>
    <link rel="stylesheet" type="text/css" href="css/common&v1.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <script type="text/javascript" src="js/libs/rem.js"></script>
    <title> 2016韩都衣舍·潮童星国际少儿超模大赛，火热报名中！想做时尚小网红？快快加入进来！</title>
    <style>
        .whole {    background-image: url("img/bg/simple_bg.jpg");  background-repeat: repeat-y;}
        #rule_container {  margin-bottom: 3rem;  padding-bottom: 2rem;  }
    </style>
</head>
<body>
<div class="whole">
    <!--内容开始-->
    <div id="rule_container">
        <div style=" color:#FFFFFF;letter-spacing:.1rem;">
            如有疑问，请联系微信值班客服（minizaru819）
        </div>
        <div>
            <img src="img/figure.png" class="figure01">
        </div>
        <ul>
            <li>1、报名对象：初选全国前40名选手。</li>
            <li>2、复赛时间：5月5日10点至5月18日10点。</li>
            <li>3、报名信息：务必真实，务必与初赛基本信息一致，以便后期晋级或获奖联络。（注：如报名者提交信息违反法律法规或涉及肖像权、名誉权、署名权等法律责任均由提交者承担）。</li>
            <li>4、报名图片：上传3张街拍照，务必穿着品牌提供的服装进行拍摄，否则复赛报名无效。</li>
            <li>5、核实信息：信息提交后无法进行二次修改，请核实无误后提交。</li>
            <li>6、提交次数：所有选手只能提交一次，多次提交者取票数最高的一个。</li>
            <li>7、关于投票：一个ID每天可投3票（针对不同选手）。</li>
            <li>8、报名通道：米妮哈鲁童装/果芽旗舰店/honeypig欧美风童装（微信端）。</li>
            <li>9、复赛评判：初赛票数40%+复赛票数60%评选出全国前12强。</li>
            <li>10、现场颁奖：根据前12位选手排名评选出冠亚季军各1名、优秀奖9名，T台表现优异的选手还将被推送至杭州国际时装周。</li>
            <li>11、奖品解释：所有非现金奖品均不能兑换成现金。</li>
            <li>12、使用权限：主办方对报名者信息拥有使用权。</li>
            <li>&nbsp;</li>
            <li style=" text-align:right; font-size:1rem;">本活动最终解释权归韩都衣舍所有</li>
        </ul>
    </div>
    <div class="bg_cover">
        <!--背景-->
        <div class="bg">
            <img src="img/bg/poster_rule_001.jpg">
            <img src="img/bg/bg_01.jpg">
        </div>
    </div>
</div>
<!--页脚-->
<footer>
    <a class="btn" href="/signup">我要报名<span><div class="vertical_line">&nbsp;</div></span></a>
    <a class="btn" href="/vote">我要投票<span><div class="vertical_line">&nbsp;</div></span></a>
    <a class="btn active" href="/rules">活动规则<span><div class="vertical_line">&nbsp;</div></span></a>
    <a class="btn" href="/lottery">参与有礼</a>
</footer>
</body>
<script src="js/libs/jquery-2.2.0.min.js"></script>
<script src="js/pages/jquery.tips.min.js"></script>
<script>
    $(function() {
        // 分享
        covering().appendShareImg();
    })
</script>
<script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500035058"></script>
</html>
